body{
  /*border: dashed 1px red;*/
}
.wprapper{
  width: 80%;
  margin: auto;
}
.header {
 /*border: dashed 1px green;*/
 display: flex;
 justify-content: space-between;
 padding:0;
 margin-bottom: 100px;
}
.logo{
position: relative;
padding:40px 0;
padding-left: 44px;
/*background-image: url('img/logo.svg');*/
width: 190px;
height: 35px;
font-family: 'pt_serifbold','arial', 'helvetica', 'sans-serif';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/*border: dashed 1px red;*/
/*font: bold 24px/31px 'pt_serif', 'arial', 'helvetica', 'sans-serif';*/
}
.logo__circle{
  width: 28px;
 height: 28px;
 /*border: dashed 1px red;*/
 position: absolute;
 top: 50%;
 left: 0;
 transform: translateY(-50%);
 border-radius: 50%;
 }
 .logo__circle_color_dark-blue{
background: #0056EC;
opacity: 0.7;
 }
 .logo__circle_color_blue {
 left: 8px;
 top: 56%;
 background: #C8DBFB;
opacity: 0.7;
}
.menu{
/*border: dashed 1px red;*/
display: flex;
align-items: center;
}
.menu__item{
margin:0 13px;
font-family: 'Roboto', 'helvetica', 'sans-serif';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #000000;
text-decoration: none;
position: relative;
transition: color 0.5s;
/*font: bold 18px/500 'Roboto', 'arial', 'helvetica', 'sans-serif'*/;
}
.menu__item:hover{
color: #0056EC;
}
/*.menu__item::before{
display: inline;
position:absolute;
content: '';
width: 5px;
height: 5px;
border-radius: 50%;
top: 8px;
left: -8px;
background:blue;
}*/
.menu__item:last-child{
  margin-right: 0;
}
.menu__item_active::after{
display:block;
position: absolute;
content: '';
width: 0%;
height: 3px;
background: #0056EC;
opacity: 0;
transition: width 2s;
}
.menu__item_active:hover::after{
opacity: 1;
width: 100%;
transition: opacity 1s, width .5s;
}
.main-section{
  padding-right: 63%;
  padding-bottom: 240px;
  /*width: 37%*/
  background-image: url(img/section.svg);
  background-repeat: no-repeat;
  background-position: top right;
  /*border: dashed 1px red;*/
}
.main-content__title{
  width: 567px;
  height: 255px;
  font-family: 'pt_serifbold','arial', 'helvetica', 'sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px;
  color: #000000;
  padding-bottom: 40px;
  margin: 0;
}
.main__title-text_highlight{
   background: #ECF3FF;
}
.main-content__subtitle{
  width: 455px;
  height: 52px;
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-bottom: 59px;
  margin: 0;
}
.main-content__button{
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: #0056EC;
  border-radius: 4px;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 1;
  transition: opacity .5s;
}
.main-content__button:hover{
  opacity: .5;
}
