body{
  border: dashed 1px red;
  margin: 0;
}
.wprapper{
  width: 80%;
  margin: auto;
}
.header {
 border: dashed 1px green;
 display: flex;
 justify-content: space-between;
}
.main-section {
 border: dashed 1px red;
}
.menu{
border: dashed 1px red;
display: flex;
align-items: center;
}
.menu__item{
  padding: 0 13px;
}
.menu__item:last-child{
  padding-right: 0;
}
.logo,.main-content__title{
  font-family: 'PT Serif', cursive;
}
.menu__item,.main-content__subtitle,.main-content__button{
  font-family: 'Roboto', sans-serif;
}
.logo{
  padding: 40px 0;
}
