body{
  border: dashed 1px red;
  margin: 0;
}
.wprapper{
  width: 80%;
  margin: auto;
}
.header {
 border: dashed 1px green;
 display: flex;
 justify-content: space-between;
 padding: 40px 0;
}
.logo{
/*padding: 40px 0*/;
background-image: url('img/logo.svg');
width: 190px;
height: 35px;
/*font-family: 'pt_serifbold','arial', 'helvetica', 'sans-serif';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;*/
/*font: bold 24px/31px 'pt_serif', 'arial', 'helvetica', 'sans-serif';*/
}
.menu{
border: dashed 1px red;
display: flex;
align-items: center;
}
.menu__item{
padding: 0 13px;
font-family: 'Roboto', 'helvetica', 'sans-serif';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/*font: bold 18px/500 'Roboto', 'arial', 'helvetica', 'sans-serif'*/;
}
.menu__item:last-child{
  padding-right: 0;
}
.main-section {
 border: dashed 1px red;
}
.main-content{
  width: 50%;
  border: dashed 1px red;
  margin: 0;
}
.main-content__title{
  font-family: 'pt_serifbold','arial', 'helvetica', 'sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px;
}
.main-content__subtitle,.main-content__button{
  font-family: 'Roboto', sans-serif;
}
